.fundo {
  background-color: white;
}
.Titulo {
  font-size: 35px;
  color: black;
}
.Emoji {
  position: relative; /* Para permitir ajustes com left/right/top/bottom */
  left: 90%; /* Ajusta horizontalmente o elemento */
  font-size: 35px; /* Tamanho do emoji */
  width: 100px; /* Largura do elemento */
  height: 90px; /* Altura igual à largura para ser um círculo */
  line-height: 100px; /* Centraliza verticalmente o emoji */

}

.serch-box{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%) ;
  background: 40px;
  

}
